body {
    min-height: 100vh;
}
header {
    background-color: #A5A58D;
}
header a {
    text-decoration: none;
    color: inherit;
}
.header-logo img {
    max-width: 142px;
    margin-right: 50px;
}
header nav a:hover {
    text-decoration: underline;
}
main {
    background-color: #FFF1E6;
}
footer {
    padding: 1.5rem 0;
    text-align: center;
    background-color: #EDDCD2;
}

.navbar {
    background-color: #FFF1E6;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

th[scope='col'] {
    background-color: #505050;
    color: #fff;
}

th[scope='row'] {
    background-color: #d6ecd4;
}

td {
    text-align: center;
}

tr:nth-of-type(even) {
    background-color: #eee;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
}

.form_wish {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


#map { height: 600px; }

input{
    margin: 10px;
}

#container{
    width: 60%;
    height: 60%;
}

